.place__title {
    font-style: normal;
    font-size: 54px;
    line-height: 107%;
    grid-area: title;
    margin: 0;
    font-family: 'Inter';
    font-weight: 900;
}

@media screen and (max-width:1023px) and (min-width:768px) {
    .place__title {
        font-size: 42px;
    }
}

@media screen and (max-width:767px) and (min-width:320px) {
    .place__title {
        font-size: 32px;
        line-height: 109%;
        margin-top: 50px;
    }
    .place__title:first-child {
        margin: 0;
    }
}
